nav {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
  align-items: stretch;
  background-color: whitesmoke;
}


p.tool1 {  
background-color: whitesmoke;
}

p.tool2 {
  background-color: darkgray;
}


h1 {
  background-color: gray;
  font-size: 300%;
  padding: 4rem 2rem;
}

div.sections section {
  height: 300px;
}

div.sections {
  display: flex;
  flex-direction: row;
  margin: 0 15rem;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-evenly;
  align-items: stretch;
  gap: 30px;
}
